/*RESET*/
*{margin:0; padding:0;}

body {background-color:#f4f4f4; overflow-x:hidden; margin:10px; /*padding:0px;*/
    /*overflow-x: scroll; /*barra de rolagem horizontal*/
    /*overflow-y: hidden; /*barra de rolagem horizontal*/
    /*white-space: nowrap; /*barra de rolagem horizontal*/
}

box {width:1024px;}
/*CONTEUDO*/
#conteudo {font:14px "Arial", Helvetica, sans-serif; margin:0; /*padding:2px;*/ color:#3b5998;}
#conteudo h1 {margin:2px 0; padding:0;}

.enviar{
  cursor: pointer;
  color: white;
  background-color: #0086e4;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  height: 25px;
  letter-spacing: 1px;
  transition-duration: 1s;
padding: 0 5px;
}
/***************************************************************/